<html>
<head>
<title>{$PageTitle}</title>
{$Meta_Keywords}
{$Meta_Description}
{$Meta_Keywords_Channel}
{$Meta_Description_Channel}
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<script src="{$InstallDir}JS/prototype.js"></script>
<script src="{$InstallDir}JS/scriptaculous.js"></script>
<script src="{$InstallDir}JS/checklogin.js"></script>
{$Skin_CSS} {$MenuJS}
</head>
<body  onmousemove='HideMenu()'> 
<div id=menuDiv style='Z-INDEX: 1000; VISIBILITY: hidden; WIDTH: 1px; POSITION: absolute; HEIGHT: 1px; BACKGROUND-COLOR: #9cc5f8'></div> 
<!-- ********网页顶部代码开始******** -->
{$MY_动易2006海蓝栏目顶}
<!-- ********网页顶部代码结束******** --> 
<!-- ********网页中部代码开始******** --> 
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0" class="center_tdbgall">
  <tr>
    <td width="180" valign="top">
    <!--用户登录代码开始-->
{$MY_动易2006海蓝用户登录}
      <!--用户登录代码结束--> 
    </td>
    <td width="5"></td>
    <td width="354" valign="top">
    <!--本站最新文章代码开始--> 
	<table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td Class="main_title_575"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><a class="class" href="{$InstallDir}{$ChannelDir}/ShowElite.asp"><b>最新推荐</b></a></td>
            <td align="right">{$RssElite}</td>
          </tr>
        </table>
		</td>
      </tr>
      <tr>
        <td height="176" valign="top" Class="main_tdbg_575">
        {$GetArticleList(ChannelID,0,True,0,True,10,False,False,"",0,3,2,30,0,True,1,True,False,3,False,False,False,True,True,False,0)}</td>
      </tr>
    </table>
    <!--本站最新文章代码结束--> 
	</td>
    <td width="5"></td>
    <td width="216" valign="top">
    <!--特别推荐代码开始--> 
	<table width="100%" border="0" cellspacing="0" cellpadding="0" style="word-break:break-all;Width:fixed">
      <tr>
        <td Class="main_title_575"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><a class="class" href="{$InstallDir}{$ChannelDir}/ShowHot.asp"><b>最新热门</b></a></td>
            <td align="right">{$RssHot}</td>
          </tr>
        </table>          </td>
      </tr>
      <tr>
        <td height="176" valign="top" Class="main_tdbg_575">
		{$GetPicArticle(ChannelID,0,True,0,2,false,True,0,3,3,80,80,14,52,True,1)}
		</td>
      </tr>
    </table>
    <!--特别推荐代码结束--> 
	</td>
  </tr>
</table>
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0" class="center_tdbgall"> 
  <tr> 
	<!--网页中部左栏代码开始--> 
    <td width="180" rowspan="2" valign="top" class="left_tdbgall">
    <!--专题等左栏代码开始-->
	<table width="100%" border="0" cellspacing="0" cellpadding="0" style="word-break:break-all;Width:fixed"> 
        <tr> 
          <td align="center" class="left_title">专 题 栏 目</td> 
        </tr> 
        <tr> 
          <td class="left_tdbg1"> <script language='javascript' src='{$InstallDir}{$ChannelDir}/JS/ShowSpecialList.js'></script></td> 
        </tr> 
        <tr> 
          <td class="left_tdbg2"></td> 
        </tr> 
        <tr> 
          <td align="center" class="left_title">频 道 统 计</td> 
        </tr> 
        <tr> 
          <td class="left_tdbg1">{$ShowChannelCount}</td> 
        </tr> 
        <tr> 
          <td class="left_tdbg2"></td> 
        </tr> 
        <tr> 
          <td align="center" class="left_title">用 户 排 行</td> 
        </tr> 
        <tr> 
          <td class="left_tdbg1">{$ShowTopUser(5)}</td> 
        </tr> 
        <tr> 
          <td class="left_tdbg2"></td> 
        </tr> 
        <tr> 
          <td align="center" class="left_title">最 新 调 查</td> 
        </tr> 
        <tr> 
          <td class="left_tdbg1">{$ShowVote}</td> 
        </tr> 
        <tr> 
          <td class="left_tdbg2"></td> 
        </tr> 
      </table> 
    </td> 
    <!--网页中部左栏代码结束-->
    <!--网页中部左间隔代码开始-->
    <td width="5"></td>
    <!--网页中部左间隔代码结束-->
    <!--网页中部中栏代码开始--> 
    <td width="575" class="main_tdbgall" valign="top">
		<!--网页中部中栏文章栏目代码开始--> 
	<table width="100%" border="0" cellspacing="0" cellpadding="0" style="word-break:break-all;Width:fixed"> 
        <tr> 
          <td valign="top">
		  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="word-break:break-all;Width:fixed"> 
              <tr>【ArticleList_ChildClass】【Cols=2】
                <td valign="top" width="284"> <table width="100%" border="0" cellspacing="0" cellpadding="0"> 
                    <tr> 
                      <td Class="main_title_282">
					  <a class='Class' href='{$rsClass_ClassUrl}' title='{$rsClass_Readme}'><b>{$rsClass_ClassName}</b></a>
					  </td> 
                    </tr> 
                    <tr> 
                      <td height="150" valign="top" Class="main_tdbg_282">{$GetArticleList(ChannelID,rsClass_arrChildID,True,0,rsClass_ShowAllItem,rsClass_TopNumber,False,False,"",0,rsClass_ItemListOrderType,2,28,0,False,1,True,False,3,False,False,True,True,True,False,rsClass_ItemOpenType)}</td> 
                    </tr> 
                    <tr> 
                      <td Class="main_shadow"></td> 
                    </tr> 
                  </table></td> 
                【/ArticleList_ChildClass】</tr> 
            </table>
		  </td> 
        </tr> 
		  <!--网页中部中栏文章栏目代码结束--> 
        <tr> 
          <td Class="main_title_575"><b>最新图片{$ChannelShortName}</b></td> 
        </tr> 
        <tr> 
          <td Class="main_tdbg_575">{$GetPicArticle(ChannelID,0,True,0,4,false,false,0,3,2,130,90,20,0,True,4)}</td> 
        </tr> 
        <tr> 
          <td Class="main_shadow"></td> 
        </tr> 
        <tr> 
          <td Class="main_title_575"><b>栏目导航</b></td> 
        </tr> 
        <tr> 
          <td Class="main_tdbg_575"><script language='JavaScript' type='text/JavaScript' src='{$InstallDir}{$ChannelDir}/JS/ShowClass_Navigation.js'></script></td> 
        </tr> 
        <tr> 
          <td Class="main_shadow"></td> 
        </tr> 
        <tr> 
          <td Class="main_Search"> <table width='100%' border='0' align="center"cellpadding='2' cellspacing='0'> 
              <tr> 
                <td width="18%" align="center"><img src="{$InstallDir}Images/checkarticle.gif" width="15" height="15" align="absmiddle"> 站内{$ChannelShortName}搜索</td> 
                <td align="center"> <script language='JavaScript' type='text/JavaScript' src='{$InstallDir}{$ChannelDir}/JS/ShowSearchForm.js'></script></td><td align='right'> <a href='{$InstallDir}{$ChannelDir}/Search.asp'><u>高级搜索</u></a></td> 
              </tr> 
            </table></td> 
        </tr> 
      </table></td> 
    <!--网页中部中栏代码结束--> 
  </tr> 
</table> 
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0" class="center_tdbgall"> 
  <tr> 
    <td Class="main_shadow"></td> 
  </tr> 
</table> 
{$MY_动易2006海蓝友情链接}
<!-- ********网页中部代码结束******** --> 
<!-- ********网页底部代码开始******** -->
{$MY_动易2006海蓝网页底} 
  <!-- ********网页底部代码结束******** --> 
<!-- ********弹出窗口代码******** --> 
{$PopAnnouceWindow(400,440)}
</body>
</html>