TD
{
FONT-SIZE: 9pt
}
BODY
{
FONT-SIZE: 9pt
}
A:link
{
COLOR: blue;
TEXT-DECORATION: none
}
A:visited
{
COLOR: blue;
TEXT-DECORATION: none
}
A:active
{
COLOR: red;
TEXT-DECORATION: none
}
A:hover
{
COLOR: #999999;
TEXT-DECORATION: none
}
INPUT
{
FONT-SIZE: 9pt;
FONT-FAMILY: ו
}
TEXTAREA
{
FONT-SIZE: 9pt;
FONT-FAMILY: ו
}
SELECT
{
FONT-SIZE: 9pt;
FONT-FAMILY: ו
}

.Up
{border-left: 1Px solid rgb(12,12,12);
border-right: 1px solid rgb(12,12,12);
border-bottom: 1px solid rgb(12,12,12);
border-top: 1px solid rgb(12,12,12);
cursor:hand;
}
.Down
{border-right: 1Px solid rgb(233,244,249);
border-left: 1px solid rgb(12,12,12);
border-top: 1px solid rgb(12,12,12);
border-bottom: 1px solid rgb(233,244,249);
cursor:hand;
}
.None
{border-right: 1Px solid rgb(255,255,255);
border-left: 1px solid rgb(255,255,255);
border-top: 1px solid rgb(255,255,255);
border-bottom: 1px solid rgb(255,255,255);
cursor:hand;
}
TABLE.Menu2 {border-top:window 1px solid;border-left:window 1px solid;border-bottom:buttonshadow 1px solid;border-right:buttonshadow 1px solid;background-color:#0650D2}
TD.RightBg {background-color:buttonface}
TD.MouseOver {background-color:#2B73F1;color:highlighttext;cursor:default;}
TD.MouseOut {background-color:#E8E8E8;color:buttontext;cursor:default;}
TD.HrShadow {background-color:buttonshadow;}
TD.HrHighLight {background-color:buttonhighlight;}

.FileButton { height: 21px; }
.Filebg{ background:#f0f0f0; }
