A
{
TEXT-DECORATION: none;
}
A:hover
{
COLOR: #009286;
}
A:link {
color: #205064;
}
A:visited {
color: #006699;
}
BODY
{
FONT-FAMILY: ו;
FONT-SIZE: 9pt;
text-decoration: none;
line-height: 150%;
background-color: #FBFDFF;
}
TD
{
FONT-FAMILY:ו;
FONT-SIZE: 9pt;
}
.border
{
border: 1px solid #CCCCCC;
}
.title
{
	background:#f6f6f6;
}
.tdbg{
background:#FFFFFF;
line-height: 120%;
}
